* {
  margin: 0px;
  padding: 0px;
  outline: none;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: #0e0c0d;
  color: #e5e5e5;
}
.font-roboto,
.font-roboto a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
header {
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);

  position: absolute;
  z-index: 1;
}
.big-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.big-post {
  z-index: 2;
}
.banner img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.mobile-menu {
  display: none;
}
.header-flex {
  padding: 0px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-nav ul {
  display: flex;
  align-items: center;
}
.header-nav ul li a {
  font-size: 16px;
  line-height: 20px;
  color: #e5e5e5;
  transition: all 0.3s;
}
.header-nav ul li a:hover {
  color: #fff;
  transition: all 0.3s;
}
.header-nav ul li {
  margin-right: 25px;
}
.header-nav ul li:last-child {
  margin-right: 0px;
}
.header-flex-2,
.header-social ul {
  display: flex;
}

.header-social ul li {
  margin-right: 18px;
}
.header-social ul li:last-child {
  margin-right: 0px;
}
.header-social {
  margin: 0px 17px;
  border-left: 0.5px solid #e5e5e5;
  border-right: 0.5px solid #e5e5e5;
  padding: 0px 17px;
}
.banner {
  position: relative;
}
.banner-info {
  position: absolute;
  width: 530px;
  left: 70px;
  bottom: 140px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.7);
}
.banner-info h1 {
  margin-top: 15px;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;

  color: #ffffff;
}
.banner-info-flex {
  display: flex;
  font-size: 12px;
  line-height: 20px;
  color: #e5e5e5;
}
.banner-info-flex .middle-line {
  margin-top: 10px;
}
.tag {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 5px 10px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
}
.middle-line {
  height: 1px;
  min-width: 30px;
  background: #e5e5e5;
  margin: 0px 11px;
}
.container {
  width: 1300px;
  margin: 150px auto;
}
.h2-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
}
.filter-list {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;

  /* margin: 30px 0px; - аналогичная записть*/
}
.filter-list li {
  margin-right: 20px;
}
.filter-list li:last-child {
  margin-left: auto;
  margin-right: 0px;
}
.filter-list li a {
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  color: #495057;
  transition: all 0.3s;
}
.filter-list li a:hover {
  transition: all 0.3s;
  color: #d4a373;
}
.topic {
  width: 310px;
  position: relative;
}
.topic-image {
  width: 100%;
  height: 200px;
}
.topic-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.tag-list {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
}
.tag-list li {
  margin-right: 10px;
}
.tag-list li:last-child {
  margin-right: 0px;
}
.topic-price {
  font-size: 18px;
  line-height: 25px;
}
.topic-price span {
  color: #dc092e;
  text-decoration: line-through;
  padding-right: 15px;
}
.topic-date {
  font-size: 12px;
  line-height: 15px;
}
.topic-title {
  font-size: 18px;
  line-height: 25px;
}
.topic-text {
  font-size: 12px;
  line-height: 15px;
  font-weight: 300;
}
.topic p {
  margin-top: 10px;
}
.topics-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 20px;
}

/* 16/11/2021 */
.big-post {
  position: absolute;
  width: 530px;
  top: 178px;
  left: 50%;
  transform: translateX(-50%);
  /* left: calc(50% - 530px / 2); */

  text-align: center;
  color: #e5e5e5;
  font-size: 12px;
  line-height: 20px;
}
.big-post h2 {
  margin-top: 24px;
  color: #fff;
  font-size: 36px;
  line-height: 46px;
}
.big-post-text {
  width: 420px;
  margin: 13px auto 24px auto;
}
.big-post-date {
  margin-top: 15px;
}
.big-post .middle-line {
  width: 30px;
  margin: 0px auto;
}
.topic {
  cursor: pointer;
}
.topic:hover .topic-image img {
  transform: scale(1.2);
  transition: all 0.3s;
}
.topic-image {
  overflow: hidden;
  border-radius: 5px;
}
.tag-list {
  z-index: 1;
}
.post-list {
  display: flex;
  gap: 0px 20px;
}
.post {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 420px;
  height: 350px;
  border-radius: 5px;
}
.post::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.post:hover img {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.post img {
  transition: all 0.3s ease-in-out;

  border-radius: inherit;
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  object-fit: cover;
}
.post .topic {
  color: #e5e5e5;
  position: absolute;
  z-index: 1;
  bottom: 42px;
  left: 40px;
  width: auto;
  right: 40px;
  z-index: 2;
}
.post .topic .topic-title {
  color: #fff;
}

footer {
  width: 100%;
  background: #212529;
  padding: 106px 0px 0px 0px;
  box-sizing: border-box;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}
.footer-container h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}
.footer-container .header-social {
  border: none;
  margin: 15px 0px 0px 0px;
  padding: 0px;
}
.footer-container h3 {
  margin-bottom: 15px;
}
.feedback p {
  font-weight: 300;
}
.footer-ul {
  display: flex;
  flex-direction: column;
  gap: 18px 0px;
}
.footer-ul li a {
  color: #e5e5e5;
  transition: all 0.3s;
}
.footer-ul li a:hover {
  color: #fff;
  transition: all 0.3s;
}
.feedback-form {
  position: relative;
  margin-top: 15px;
  display: flex;
}
.feedback-form input,
.feedback-form button {
  display: block;
}
.feedback-form input {
  width: 70%;
  padding: 5px 7px;
  border: none;
  background: #495057;
  border-radius: 5px 0px 0px 5px;
  color: #e5e5e5;
}
.post-list {
  scrollbar-width: none;
  margin-top: 20px;
}
.topics-list{
  margin-top: 20px;
}
.post-list::-webkit-scrollbar {
  width: 0px; /* ширина для вертикального скролла */
  height: 0px; /* высота для горизонтального скролла */
}
.feedback-form button {
  color: #e5e5e5;
  font-weight: 400;
  width: 30%;
  padding: 5px 7px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  background: #343a40;
  transition: all 0.3s;
  cursor: pointer;
}
.feedback-form button:hover {
  background: #454d55;
  transition: all 0.3s;
}
.feedback-form label {
  position: absolute;
  left: 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #e5e5e5;
}
.headquarter {
  width: 114px;
  font-size: 12px;
  line-height: 15px;
  color: #e5e5e5;
}
.subscribe {
  width: 100%;
  padding: 31px 0px;
  margin-top: 106px;
  background: #343a40;
}
.subscribe-flex {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}

.subscribe {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
  padding: 31px 0px;
  margin-top: 106px;
  background: #343a40;
}
.subscribe-flex p {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #e5e5e5;
}
.subscribe-flex p + p a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #e5e5e5;
}
/*-------------------------*/
.hamburger {
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 50px;
}
.hamburger::after,
.hamburger::before {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 50px;
  transition: all 0.4s;
}
.hamburger::after {
  transform: translateY(10px);
}
.hamburger::before {
  transform: translateY(-10px);
}
.hamburger-label {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.hamburger-input {
  display: none;
}
.hamburger-input:checked + header .hamburger-box .hamburger-label span::after {
  transform: rotate(-40deg);
}

.hamburger-input:checked + header .hamburger-box .hamburger-label span::before {
  transform: rotate(40deg);
}

.hamburger-input:checked + header .hamburger-box .hamburger-label span {
  height: 0px;
}
.mobile-menu-box {
  position: absolute;
  /* top: 55px; */
  top: -333px;
  opacity: 0.1;
  transition: opacity 0.3s;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  left: 0px;
  padding-bottom: 20px;
}
.hamburger-input:checked + header .mobile-menu-box {
  top: 55px;
  opacity: 1;
  transition: opacity 0.3s;
}
.hamburger-input:checked + header {
  background: rgba(0, 0, 0, 0.8);
}
.mobile-menu-box .header-nav ul {
  flex-direction: column;
  align-items: flex-start;
}
.mobile-menu-box .header-nav ul li a {
  padding: 7px 15px;
  display: block;
}
.mobile-social {
  border-top: 1px solid #fff;
  padding-top: 10px;
  margin: 15px 15px 15px 15px;
  display: flex;
  justify-content: space-between;
}
.mobile-search {
  margin: 0px 15px;
}
.mobile-search input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid #fff !important;
  color: #fff;
  padding: 4px;
}
.mobile-social li,
.header-social li {
  width: 20px;
  height: 20px;
}
.mobile-social li a svg,
.header-social li a svg {
  width: 100%;
  height: 100%;
}

.mobile-filter {
  display: none;
  margin: 20px 0px;
}
.mobile-filter label {
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  color: #495057;
}
.filter-select {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  background: #495057;
  color: #e5e5e5;
}
